.container {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgb(219, 227, 240);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar {
    height: 93dvh;
    width: 20dvw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.formColumn {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.date {
    width: 100%;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
.formSize {
    width: 60%;
}
.footerForm {
    display: flex;
    justify-content: flex-end;
}
.postCardContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.pieChartContainer {
    height: 93dvh;
    width: 100%;
    display: flex;
    gap: 5px;
}
.pieCard {
    width: 50%;
}